Django==1.10
linebot==0.3.2
uWSGI==2.0.13.1
requests==2.11.1
psycopg2==2.6.2
ujson==1.35
-e git+https://github.com/tyarkoni/transitions@745cf2e0c218b29e06773c4dbee92d5fce1a71ea#egg=transitions
pygraphviz==1.3.1
