1. What is dengue fever
2. The symptoms of dengue fever
3. How to prevent myself from getting dengue fever
4. The nearby clinics/ hospitals 
5. The current status of dengue fever
6. Give a suggestion
7. Set up my location (beta)
