To reduce your risk of mosquito bites:
1. Wear protective clothing: wear a long-sleeved shirt, long pants, socks and shoes.
2. Use mosquito repellent: Permethrin can be applied to your clothing, shoes, camping gear and bed netting. You can also buy clothing made with permethrin already in it. For your skin, use a repellent containing at least a 10 percent concentration of DEET.