{% extends "base.html" %}

{% block title %} Dengue LineBot {% endblock %}


{% block content %}
  <h1>Function List</h1>
  <ul>
    <li><a href="/dengue_linebot/show_fsm/">Show FSM</a></li>
    <li><a href="/dengue_linebot/reload_fsm/">Reload FSM</a></li>
    <li><a href="/dengue_linebot/user_list/">User List</a></li>
    <li><a href="/dengue_linebot/msg_log_list/">Message Log</a></li>
    <li><a href="/dengue_linebot/unrecog_msgs/">Unrecognized Message List</a></li>
    <li><a href="/dengue_linebot/suggestion_list/">Suggestion List</a></li>
    <li><a href="/dengue_linebot/gov_report_list/">Government Report List</a></li>
    <li><a href="/dengue_linebot/push_msg/">Push Message</a></li>
  </ul>
{% endblock %}
