{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
  <div id="fullscreen_bg" class="fullscreen_bg"/>
    <form class="form-login" method="POST">
      {% csrf_token %}
      <h1 class="form-login-heading text-muted">Login</h1>
      <input id="username" name="username" type="text" class="form-control" placeholder="User Name" required autofocus>
      <input id="username" name="password" type="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>
{% endblock %}
