{% extends "base.html" %}

{% block title %} {{user.name}} {% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>User Detail</h1>
</div>
<div class="col-md-8">
  <ul class="list-group">
    <li class="list-group-item">
      <label>Name:</label> {{user.name}}
    </li>
    <li class="list-group-item">
      <label>ID:</label> {{user.user_id}}
    </li>
    <li class="list-group-item">
      <label>Status Message:</label> {{user.status_message}}
    </li>
    <li class="list-group-item">
      <label>Photo:</label> <br>
      <img src="{{user.picture_url}}" alt="photo" />
    </li>
  </ul>
</div>
{% endblock %}