{% load staticfiles %}

{% comment "available block" %}
- title
- import_link
- import_script
- content
- js_script
{% endcomment %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}DengueFever Bot{% endblock %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  {% block import_link %} {% endblock %}

  <!-- js -->
  <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
  <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
  {% block import_script %} {% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="continer">
    {% block content %}{% endblock %}
  </div>

  {% block js_script %}{% endblock %}
  <!-- Javascript -->
  <!-- <script src="{% static "js/scripts.js" %}"></script> -->
</body>
</html>
